/* PAGE */
.notes-page {
  min-height: 100vh;
  padding: 3rem 4rem;
  background: linear-gradient(180deg, #eef2ff 0%, #e0e7ff 100%);
  font-family: "Inter", system-ui, sans-serif;
}

/* TITRE */
.notes-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: #1f2937;
  text-align: start;
}

/* GRID */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

/* CARD */
.note-card {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
  padding: 1.5rem;
  align-items: start;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.note-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

/* ICON */
.note-icon {
  grid-column: 1;
  grid-row: 1;
  font-size: 3.8rem;
  line-height: 1;
}

/* CONTENT */
.note-content {
  grid-column: 2;
  grid-row: 1;
}

/* TITLE */
.note-title {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 0;
}

/* TEXT (ellipsis) */
.note-text {
  grid-column: 1 / -1;
  grid-row: 2;

  color: #6b7280;
  line-height: 1.4;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.note-date {
  font-size: 0.8rem;
  color: #9ca3af;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  text-align: left;
}