.register-page {
    background-image: url(../assets/accueil.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;       
    justify-content: center;
    padding-left: 2rem; 
}

.register-form {
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-card {
  width: 100%;
  height: 400px;
  max-width: 320px;
  padding: 2.5rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(16px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


/* -------- CARD TEXTE -------- */

.welcome-card {
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem;
  border-radius: 30px;

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
}


.welcome-card h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.welcome-card p {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
}

/* -------- CARD FORM -------- */

.register-card {
  position: absolute;
  top : 48%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  max-width: 320px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

/* -------- FORM -------- */

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

label {
    padding-top: 10px;
}

.input-group label {
  font-weight: 500;
  font-size: 1rem;
  text-align: start;
  padding-left: 40px;
}

.input-group input {
  padding: 0.9rem 1rem;
  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
}

/* -------- BUTTON -------- */

.register-btn {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
    width: 100%;
  font-weight: 600;
  font-size: 1rem;
  color: white;

  background: linear-gradient(90deg, #5b8cff, #6f7bff);
  transition: 0.3s ease;
}

.register-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(91, 140, 255, 0.4);
}

/* -------- LINK -------- */

.login-link {
    display: flex;
    flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}

.login-link span {
  color: #5b8cff;
  cursor: pointer;
  font-weight: 500;
  padding-top: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
}

.icon-mail {
    top: 45px;
}

.icon-lock {
    top: 25px;
}

.input-wrapper input {
  width: 100%;
  padding: 0.9rem 1rem 0.9rem 2.8rem; /* 👈 espace pour icône */
  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
}

.toggle-password {
  position: absolute;
  right: 35px;
  top: 155px;
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
}

.toggle-password:hover {
  color: #5b8cff;
}

@media (min-width: 1024px) {
  .register-page {
    justify-content: flex-start;
    padding-left: 6rem;
  }
}

@media (max-width: 768px) {
  .register-page {
    background-position: 70% center; /* recadre vers la droite */
  }
}